.blog {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  gap: 30px;
}

.blog__card {
  position: relative;
  border-radius: var(--radius);
  border: 2px solid #fff;
  background: radial-gradient(
      104.85% 101.89% at 100% 76.24%,
      rgba(211, 229, 207, 0.08) 0%,
      rgba(211, 229, 207, 0) 100%
    ),
    radial-gradient(
      78.1% 48.68% at -0% 100%,
      rgba(207, 213, 229, 0.15) 0%,
      rgba(207, 213, 229, 0) 100%
    ),
    #fffefc;
  transition: 0.3s;
  cursor: pointer;
}

.blog__card:hover {
  box-shadow: 1px 1px 10px #828299;
}

.blog__card img {
  border-radius: 30px 30px 0 0;
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.blog__card .card__text {
  padding: 15px 30px;
}

.blog__card .card__add {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 20px;
  border-radius: 0 29px;
  background: radial-gradient(
      104.85% 101.89% at 100% 76.24%,
      rgba(211, 229, 207, 0.08) 0%,
      rgba(211, 229, 207, 0) 100%
    ),
    radial-gradient(
      78.1% 48.68% at -0% 100%,
      rgba(207, 213, 229, 0.15) 0%,
      rgba(207, 213, 229, 0) 100%
    ),
    #fffefc;
}
