section.container {
  margin: 50px auto;
}

.title {
  color: var(--color-main);
  font-size: 40px;
  font-weight: 600;
  line-height: 130%;
  margin-bottom: 20px;
}

.desc {
  color: #828299;
  margin-bottom: 30px;
}

@media (max-width: 1500px) {
  section.container {
    margin: 30px;
  }
}

@media (max-width: 1000px) {
  .title {
    font-size: 1.8em;
  }
}

@media (max-width: 767px) {
  section.container {
    margin: 20px;
  }
  .desc {
    margin-bottom: 20px;
  }
}
